#------------------------------------------------------------------------------
#                  Harmonized Emissions Component (HEMCO)                    !
#------------------------------------------------------------------------------
#
# HEMCO NUOPC standalone configuration file sample
#
# This file demonstrates how to configure input fields for HEMCO when running
# in NUOPC standalone mode. It follows the same format as GEOS ExtData files
# for consistency across different model environments.
#------------------------------------------------------------------------------

Include%%
##
%%

PrimaryExports%%
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
#  Import      |       |       | Regrid |        Refresh       | OffSet | Scale  | Variable On |   File   |
#  Name        | Units | Clim  | Method |     Time Template    | Factor | Factor |     File    | Template |
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
#
# ----------------
# EMISSION FIELDS
# ----------------
#
# --- GEIA Inventory ---
# The basic 'Y' means use the default regrid method from ESMF_RegridMethod setting
GEIA_NO          kg/m2/s    Y    Y      %y4-%m2-%d2t12:00:00     0.0      1.0     NO             ExtData/GEIA/NOx.geos.1x1.nc
# You can specify a specific regrid method like Y:CONSERVE
GEIA_CO          kg/m2/s    Y    Y:CONSERVE %y4-%m2-%d2t12:00:00    0.0      1.0     CO             ExtData/GEIA/CO.geos.1x1.nc
# Another way to specify a method - Y:BILINEAR
GEIA_ACET        kg/m2/s    Y    Y:BILINEAR %y4-%m2-%d2t12:00:00   0.0      1.0     ACET           ExtData/GEIA/ACET.geos.1x1.nc
# Nearest neighbor for categorical data
GEIA_MEK         kg/m2/s    Y    Y:NEAREST %y4-%m2-%d2t12:00:00    0.0      1.0     MEK            ExtData/GEIA/MEK.geos.1x1.nc

# --- EDGAR Inventory ---
# Using direct method specification
EDGAR_NO2        kg/m2/s    Y    BILINEAR  %y4-%m2-%d2t12:00:00     0.0      1.0     NO2            ExtData/EDGAR/v42/NO2.generic.01x01.nc
EDGAR_NO         kg/m2/s    Y    CONSERVE  %y4-%m2-%d2t12:00:00     0.0      1.0     NO             ExtData/EDGAR/v42/NO.generic.01x01.nc
# Use conservative remapping for emissions
EDGAR_CO         kg/m2/s    Y    Y:CONSERVE %y4-%m2-%d2t12:00:00    0.0      1.0     CO             ExtData/EDGAR/v42/CO.generic.01x01.nc
EDGAR_SO2        kg/m2/s    Y    Y:CONSERVE %y4-%m2-%d2t12:00:00    0.0      1.0     SO2            ExtData/EDGAR/v42/SO2.generic.01x01.nc
EDGAR_NH3        kg/m2/s    Y    Y:CONSERVE %y4-%m2-%d2t12:00:00    0.0      1.0     NH3            ExtData/EDGAR/v42/NH3.generic.01x01.nc

# --- MEGAN Biogenics ---
# No regridding needed - use 'N' to disable
MEGAN_ISOP       kgC/m2/s   N    N      -                        0.0      1.0     ISOP           ExtData/MEGAN2.1/MEGAN_ISOP.geos.025x025.nc
MEGAN_MBOX       kgC/m2/s   N    N      -                        0.0      1.0     MBO            ExtData/MEGAN2.1/MEGAN_MBO.geos.025x025.nc
MEGAN_BPIN       kgC/m2/s   N    N      -                        0.0      1.0     BPIN           ExtData/MEGAN2.1/MEGAN_BPIN.geos.025x025.nc
# Use bilinear for met fields
MEGAN_TEMP       K          Y    Y:BILINEAR %y4-%m2-%d2t%h2:00:00  0.0      1.0     T2M            ExtData/MERRA2/MERRA2.tavg1_2d_flx_Nx.%y4%m2%d2.nc4

# --- CLM4 PFT Data ---
# Use nearest neighbor for land cover categories
CLM4_PFT_BARE    1          N    Y:NEAREST -                      0.0      1.0     PFT_BARE       ExtData/CLM4/CLM4_PFT.geos.025x025.nc

# --- CH4 WetLands ---
# Climatology with conservative regridding
CH4_WETLANDS     kg/m2/s    Y    Y:CONSERVE %y4-%m2-01T00:00:00   0.0      1.0     CH4_WETL       ExtData/CH4/CH4_wetlands.geos.2x25.nc

# --- Volcanic SO2 ---
# Non-climatology emissions with conservative regridding
VOLCANO_SO2      kg/m2/s    N    Y:CONSERVE %y4-%m2-%d2t12:00:00  0.0      1.0     EM_SO2         ExtData/GFED4/volcanic_so2.nc
%%

DerivedExports%%
# ---------|---------|--------------------------------------------|
#  Export  | Primary |_________________ Mask _____________________|
#  Name    |  Name   |    Name    |           Expression          |
# ---------|---------|------------|-------------------------------|
# ---------|---------|------------|-------------------------------|
%%

#
# Settings for ESMF regridding
# These are the default settings used when a field has "Y" in the Regrid Method
# column without specifying a particular method
#
ESMF_RegridMethod: BILINEAR
ESMF_UnmappedAction: IGNORE
ESMF_RegridWeightGenMethod: ESMF
#
# Settings for standalone NUOPC interface
#
UseESMFRegrid: .TRUE.